.asset-card {
  
  background-color: var(--color-menu);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 38px rgba(62, 230, 118, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 100%;
  max-width: 300px;
}

.asset-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(62, 230, 118, 0.4);
}

.asset-image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  background-color: #111;
}

.asset-actions {
  position: absolute;
  top: 6px;
  right: 6px;
  display: flex;
  gap: 4px;
  z-index: 3;
}

.action-button {
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  padding: 2px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 0.7rem;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-button.edit {
  background-color: #000000;
}

.action-button.edit:hover {
  background-color: #000000;
}

.action-button.delete {
  background-color: #000000;
}

.action-button.delete:hover {
  background-color: #000000; 
}




.asset-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.asset-descargas {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--color-principal);
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.asset-title {
  text-align: center;
  font-size: 14px;
  padding: 8px;
  background-color: #000;
  color: var(--color-principal);
}

.asset-formats {
  font-size: 12px;
  text-align: center;
  color: white;
  background-color: #0f0f0f;
  border-radius: 3px;
  padding-bottom: 8px;
  padding-top: 4px;
}
