.home-container {
  background-color: var(--color-fondo);
  padding-top: 20px ;
  padding-left: 20px ;
  padding-right: 20px ;
  padding-bottom: 60px ;
  color: var(--color-texto);
  min-height: 100vh;
}

.home-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-principal);
  margin-bottom: 20px;
}

.mensaje-bienvenida {
  color: var(--color-placeholder);
  font-size: 16px;
  margin-bottom: 10px;
  padding-left: 4px;
}


/* Sección dividida con título centrado y línea */
.section-divider {
  margin: 60px 0 30px 0;
  border-top: 2px solid var(--color-secundario);
  text-align: center;
  position: relative;
}

.section-divider span {
  position: relative;
  top: -12px;
  background-color: var(--color-fondo);
  padding: 0 20px;
  font-size: 20px;
  color: var(--color-principal);
  font-weight: bold;
}

/* Grid de tarjetas reutilizable */
.assets-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 5 por fila en pantallas grandes */
  gap: 40px;
  justify-items: center;
}

/* Responsive: 3, 2, 1 por fila según ancho */
@media (max-width: 1200px) {
  .assets-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .assets-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .assets-grid {
    grid-template-columns: 1fr;
  }
}
