@import url('./variables.css');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-menu);
  padding: 10px 20px;
  color: var(--color-texto);
}

.navbar-left {
  display: flex;
  align-items: center;
  width: 50%; /* Asegura que la barra de búsqueda pueda expandirse */
}

.logo img {
  width: 50px;
  margin-left: 15px;
  height: 50px;
  margin-right: 15px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: var(--color-fondo);
  padding: 8px;
  margin-left: 35px;
  border-radius: 5px;
  flex-grow: 1; /* Permite que la barra de búsqueda ocupe más espacio */
}

.search-bar input {
  background: transparent;
  border: none;
  color: var(--color-texto);
  outline: none;
  width: 100%; /* Ocupar todo el ancho disponible */
}

.search-button {
  background: none;
  border: none;
  color: var(--color-texto);
  cursor: pointer;
  padding-left: 8px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 50px; /* Añade más separación entre elementos */
  margin-right: 20px;
  width: 45%; /* Asegura que la barra de búsqueda pueda expandirse */
}

.nav-link {
  color: var(--color-texto);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-link .icon {
  color: var(--color-principal);
}

.profile-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 30px;
}

/* Sidebar lateral responsive */
.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  height: 100%;
  width: 200px;
  background-color: #1a1a1a;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transition: right 0.3s ease;
  z-index: 9999;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.sidebar.activo {
  right: 0;
}

.hamburguesa {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* oscurecido */
  z-index: 9998; /* justo por debajo del sidebar */
}

.navbar-right a:hover,
.sidebar a:hover {
  background-color: var(--color-principal);
  color: var(--color-texto);
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  transition: background-color 0.2s ease;
}


/* Solo mostrar hamburguesa en pantallas pequeñas */
@media (max-width: 1400px) {
  .hamburguesa {
    display: block;
  }

  .navbar-right {
    display: none;
  }

  .navbar-left {
    width: 70%;
  }

  /* El sidebar solo se oculta si NO está activo */
  .sidebar {
    display: none;
  }

  .sidebar.activo {
    display: flex;
  }
}
