@import url('./variables.css');

.politicas-container {
    padding: var(--padding-20);
    color: var(--color-texto);
    background-color: var(--color-fondo);
    line-height: 1.6;
    font-size: 0.95rem;
  }
  
  .politicas-titulo {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: var(--color-principal);
    background-color: var(--color-menu);
    text-align: center;
    padding: var(--padding-20);
  }
  
  .politicas-subtitulo {
    color: var(--color-principal);
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.1rem;
  }
  
  ul {
    margin-left: 20px;
    list-style-type: disc;
  }
  